
.headsubject{
	border-bottom: 2px solid #F2F2F2;
	border-top: 1px solid #F2F2F2;
	margin-top: 0.4em;
	min-height: 100px;
	background-color: #F6F6F6;
	overflow: hidden;
}
.container .row{
		margin-top: 1em;
}

.login{
	margin:2em auto;
	float: right;
	/*margin-right: 9%;*/
}
.login a{
	font-size: 13px;
	padding: 0.9em;
	background-color: #3864BA;
	color: #fff;
	border-radius: 4px;
	text-decoration: none;
}
.login a:hover,button:hover{
	opacity: 0.8;

}

.try{
	transform: translateY(-1.1em);
	margin-left: 1em;
}
.login button{
	font-size: 13px;
	padding: 0.9em;
	background-color: #3864BA;
	color: #fff;
	border: none;
	transform: translateY(-1.5em);
	border-radius: 4px;
	margin-right: 2em;
	/*text-decoration: none;*/
}
.logo{
	margin-top: 0.5em;
	max-width: 37%;
	display: inline-block;
}
.logo img{
	display: block;
	/*margin:0 auto;*/
	max-width: 121%;
	margin-top:-1em;
	transition: all 0.7s; 
}
.logo img:hover{
	margin-left: 1em;
	transition: all 0.7s;
}
.subjectname{
	display: inline-block;
    /*float: left;*/
    margin-left: 1.5em;

}

.subjectname strong{
	color:#3864BA;
	font-family: Cambria;
	font-size: 22px;
	text-shadow: 0px 0px 0px #000,1px 1px 0px #fff;
}

/*end head*/
/*container*/
/*menyu*/
.category{
	min-width: 90%;
	border-radius: 5px;
	/*position: fixed;*/
	float: right;
	/*min-width: 17%;*/
}
.headcategory{
	background-color: #3864BA;
	padding: 0.3em 0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;

}
.headcategory span{
	color: #fff;
	display: block;
	text-align:center;
	/*font-weight: bold;*/
	letter-spacing: 0.07em;
}

.menyucategory{
	display: block;
	margin:0 auto;
	margin-top: 1em;
}
.menyu ul{
	list-style: none;
	padding-left: 1em;
	margin:0.5em 0 0.9em 0;
}
.menyu ul li{
	/*transition: all 0.5s;*/
	margin-top: 0.4em;
}
.menyu ul li a{
	font-size: 17px;
	font-family: Cambria;
	transition: all 0.5s;
	/*font-weight: bold;*/
}
.menyu li a:hover{
	text-decoration: none;
	transform: scale(1.2);
	transition: all 0.5s;
}
.menyu strong{
	font-size:11px;
	background-color: #3864BA;
	color: #fff;
	padding:0.32em;
	border-radius: 5px;  
}
.menyu span{
	font-size: 15px;
	color: #3864ba;
	/*font-size: 17px;*/
	font-family: Cambria;
}
.newinfopage{
	margin:0 auto;
	overflow: hidden;
	/*padding: 1em;*/
	text-align: justify;
}

.line_horizontal {
 -webkit-transition: width 1200ms;
 -o-transition: width 1200ms;
 transition: width 1200ms;
 }
 .line_horizontal {
 width: 0%;
 height: 2px;
 background: #3864BA;
 }
 .outer:hover > .line_horizontal{
 width: 100%;
 }
 .outer:hover i{
 transform: scale(1.3);
 color: red;	
 }

.activemenyu i{
	color: red;
	transition: all 0.5s;

}
@-webkit-keyframes scaleIcon {
 from { -webkit-transform: scale(1.3);
 -ms-transform: scale(1.3);
 -o-transform: scale(1.3);
 transform: scale(1.3); }
 to { -webkit-transform: scale(1);
 -ms-transform: scale(1);
 -o-transform: scale(1);
 transform: scale(1); }
 }
 @-o-keyframes scaleIcon {
 from { -webkit-transform: scale(1.3);
 -ms-transform: scale(1.3);
 -o-transform: scale(1.3);
 transform: scale(1.3); }
 to { -webkit-transform: scale(1);
 -ms-transform: scale(1);
 -o-transform: scale(1);
 transform: scale(1); }
 }
 @-moz-keyframes scaleIcon {
 from { -webkit-transform: scale(1.3);
 -ms-transform: scale(1.3);
 -o-transform: scale(1.3);
 transform: scale(1.3); }
 to { -webkit-transform: scale(1);
 -ms-transform: scale(1);
 -o-transform: scale(1);
 transform: scale(1); }
 }
 @keyframes scaleIcon {
 from { -webkit-transform: scale(1.3);
 -ms-transform: scale(1.3);
 -o-transform: scale(1.3);
 transform: scale(1.3); }
 to { -webkit-transform: scale(1);
 -ms-transform: scale(1);
 -o-transform: scale(1);
 transform: scale(1); }
 }

  .activemenyu i{
 -webkit-animation: scaleIcon 1000ms ease infinite;
 -o-animation: scaleIcon 1000ms ease infinite;
 animation: scaleIcon 1000ms ease infinite;
 }

/* end menyu*/
/*content news*/
.news{
	border-left: 2px solid #2599FF;
	/*border-top: 1px solid #2599FF;*/
	border-right: 2px solid #2599FF;
}
.mainnews{
	border-radius: 5px;
	border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    margin-bottom: 1.25em;
    padding: 1.25em;
    background-color:#F2F2F2;
}
.newscontent{
	background: white;
    margin-bottom: 1.25em;
    border: solid 1px #dddddd;
    padding: 0.5em;
    overflow: hidden;
    
}
.namenews{
	border-radius: 5px;
	border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    /*padding: 1em;*/
   /*overflow: hidden;*/
    margin: 1em;
    max-height: 30px;
    background: #3864BA;
 	/*text-align: center;	*/
}
.namenews p{
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	padding-left: 1em;
	padding-top: 0.2em;

}
.imgnew{
	/*box-shadow: 0 0 2px #A6A6A6;*/
	overflow: hidden;

}
.infopadding{
	padding: 1.1em!important;
		font-size: 16px;
	font-family: Calibri;
}
.news .row{
padding:0 0.4em 0 0.4em;
}
.more{
	/*display: block;*/
	padding: 0.5em;
	border-radius: 5px;
	border:1px solid #3864BA;
	font-size: 12px;
	/*background-color: #3864BA;*/
	/*color:#fff;*/
}
.more:hover{

}
.imgnew img{
	/*float: right;*/
	display: block;
	margin: 0 auto;
	max-width: 80%;
	max-height: 10em;
	box-shadow: 0 0 2px #A6A6A6;

}
.info{
	max-width: 97%;
	padding: 0.1em;
	border-bottom: 1px solid #3864BA;
}
.info p{
	font-size: 14px;
	font-family: Calibri;
}
.infonew{
	margin-top: 0.2em;
}
.infonew ul{
	list-style: none;
	float: right;
	margin-right: 1.4em;
}
.infonew ul li{
	/*margin-top: 0.8em;*/
	margin-left: 1em;
	display: inline-block;
}
.infonew ul li span{
	font-size: 12px;
}

i{
	padding:0.3em;
}
.moreinfonumber{

}
.number{
	text-align: center; 
}
.number a{
	margin-left: 0.4em;
	background-color: #fff;
	padding: 0.5em;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	margin-top: 0.8em;
}
.number .active{
	background-color:#3864BA;
	color: #fff;
}
.number span{
	color: #3864BA;
	font-weight: bold;

}
.number i{
	font-size: 16px;
		margin-top: 0.8em;
}
/*end content news*/
/*end container*/
/*reting table*/

td img{
	max-width: 30px;
	/*border-radius: 50%;*/

}
.table{
	box-shadow:0 0 10px #FFF;
	overflow-x:scroll; 
}
td , th {
	/*font-weight: bold;*/
	text-align: center;
}
td strong{
	margin-right: 0.4em;
}
.true{
color: green;
}
.false{
	color: red;
}
.searchcontent{
	background-color: #fff;
	padding: 0.7em 1em;
	margin-bottom: 0.5em;
	overflow: hidden;
}
.retingsearch p{
font-size: 18px;
color:#3864BA; 
font-family: calibri;
font-style: italic;
}
.inputb{
	/*border:1px solid #000;*/
}

.search .inputborder{
	/*display: block;*/
 	width: 80%;
 	border-bottom:2px solid #3864BA; 
 	float: left;
 	height: 32px;
 	border-radius: 3px;

}
.inputb input{
	border:none;
	width: 90%;
 	outline:none;
 	padding-left:0.5em;
 	font-size: 14px;
 	letter-spacing: 0.1em;
 	color: #B3B3B3; 
 	font-style: italic;
}
.inputb button,.inputb a{
	float: left;
	border: none;
	padding: 0.5em;
	border-radius: 5px;
	background-color:#3864BA;
	color: #fff; 
	font-size: 14px;
	margin-left:0.4em;
	transform:translateY(-2px); 
	text-decoration: none;
}
.inputb a:hover{
	opacity: 0.8;
}
/*userinfo*/
.userinfo{
	padding: 1em;
}
.imguser{
	max-height: 15em;
    overflow: hidden;
}
.imguser img{
max-width: 90%;
display:block;
margin:auto;
box-shadow: 0 0 2px #FFF,0 0 2px #000;
}
.username{
box-shadow: 0 0 2px #fff,0 0 2px #000;
display: block;
margin: 0 auto;
max-width: 90%;
margin-top: 0.5em;
padding: 0.4em;
text-align: center;
}
.username p{
color: #3864BA;
}
.seti{
	margin-top: -0.7em;
}
.bor{
	border:1px solid #B3B3B3;
	margin-bottom: 1em;
}
/*button style*/
.tg-bannercontent .tg-btn {
 color: #3864BA;
 background:#fff;
}

.tg-btn {
    overflow: hidden;
    letter-spacing: 0.7px;
    color: #3864BA;
    overflow: hidden;
    padding: 8px 9px;
    position: relative;
    text-align: center;
    border-radius: 30px;
    /* display: inline-block; */
    vertical-align: middle;
    border: 1px solid #3864BA;
    text-transform: uppercase;
    font: 400 9px/33px 'Montserrat', Arial, Helvetica, sans-serif;
}

.tg-btn:before {
 top: 0;
 left: 0;
 height: 100%;
 z-index: 1;
 content: '';
 /* width: 100%; */
 width: 0;
 position: absolute;
 border-radius: 30px;
}

*:before {
 -webkit-transition: all 300ms ease-in-out;
 -moz-transition: all 300ms ease-in-out;
 -ms-transition: all 300ms ease-in-out;
 -o-transition: all 300ms ease-in-out;
 transition: all 300ms ease-in-out;
}

.tg-bannercontent .tg-btn:hover {
	color: #fff;
}
.tg-btn span{
	position: relative;
	z-index: 2;
}
 .tg-bannercontent  a{
	text-decoration: none;
}
.tg-btn:hover {
 border-color: #3864BA;
}

.tg-btn:hover:before {
 /* height: 100%; */
 width: 100%;
}

.tg-btn:hover:before {
 background: #3864BA;

}
/*end button style*/

/*enduserinfo*/
/*exams*/
.nameexam{
	margin-top: 1em;
	border-left: 2px solid  #3864BA;
	padding-left: 0.4em;
	padding-right: 0.4em;	
	border-right: 2px solid  #3864BA;

	/*width: 90%;*/
}
.nameexam span{
	color: #3864BA;
	font-weight:500;
}
.headexam {
	border-bottom: 1px solid #3864BA;
	margin-bottom: 2em;
	margin-top: 1em;
}

.headexam span{
	color:#3864BA;
	font-style: italic;
	font-size:17px;
	display: block;
	margin-bottom: 0.4em; 
}
.exam{
	padding:1em 2em;
	border-left: 2px solid #3864ba;
}
.exam span{
	font-size: 15px;
}
.exam form span{
	display: inline-block;
	margin-left: 0.4em;
	transform: translateY(-1px);

}
.exam form .sendanswer{
	float: right;
	display: inline-block;
	/*padding: 1em;*/
	margin-bottom: 1em;
}

.getanswer{
	width: 15em;
	float: right;
	transform: translateY(1.5em);
	margin-bottom: 20px;
}
.getanswer span{
	font-weight: 700;
	margin-left: 4em;
}
.getanswer select{
	float: right;
	border:none;
 	box-shadow: 0 0 2px #3864ba;
 	width: 30%;
	float: right;
	 padding: 0.5em;
	outline: none;
}
.answer .variants{
border-left: 2px solid #3864ba;
padding-left: 1em;	
}

/*end exams*/

/*online olimpiada*/

.onlinetestname{
	text-align: center;
	/*border-bottom: 2px solid #B3B3B3;*/

}
.onlinetestname span{
	border-bottom: 3px solid #B3B3B3;
	padding-bottom: 0.3em;
	font-size: 19px;
	color: #3864ba;
	padding-right: 0.7em;
	font-style: italic;

}
.timeolimpiada{
	text-align: center;
}
.timeolimpiada span{
	margin-left: 1em;
}

.timeolimpiada strong{
/*padding-right: 0.9em;*/
color: green;
}
/*Index css*/

.logo1{
	max-width: 50%;
}
/*subjects img*/
.clearfix{
margin-bottom: 1.5em;
}
.clearfix .desc{
	transform: translateY(0.8em);
}
.clearfix img{
	max-width: 100%;
	display: block;

}
.signsubjects{
	margin:0 auto 3em auto;
	text-align: center;
	/*border-bottom: 2px solid #3864ba;*/
	/*max-width: 20%;*/
}
.signsubjects p img{
	display:inline-block;
	margin: 0 auto;
	max-width: 15%;
	padding-right:2em; 
}
.signsubjects p span{
	font-size: 2.4em;
	display: inline-block;
	transform: translateY(0.4em);
}
/*end subjects img*/
/*news info*/

.newsinfo{
	margin-top: 2em;
}

/*end news info*/
/*parners*/
.mxwimg{
	max-height: 5em;
}
.da-img img{
	margin-left: 8em;
	max-width: 80%;
}
.clearfix a {
	margin: -16px;
    display: block;
    /*border: 1px solid transparent;*/
    padding: 11px 15px;
    transition: all 0.6s;
    border-radius: 1em;
}
.clearfix a:hover{
    color: #020079;
    /* padding: 0.5em; */
    transform: scale(1.02);
    background-color: #f3f5f9;
    box-shadow: 0 0 2px #000,0 0 3px #fff,0 0 5px #000 !important;
    text-decoration: none;
}
#mappanda{
	width: 25em;
	height: 13em;	
}


.firstimg{
	transform: translateY(-1.6em);
}
.leg{
	transform: translateX(2em);
}
.usersname{
	float:left;
	color:#3864ba;
	transform: translateY(2em);
}
/*end partners*/
/*edn index css*/
/*login*/
.loginpanel{
	margin-top: 1em;
}
.inlogin{
	background-color: #fff;
}
.inlogin{
	margin:0 auto;
	padding-bottom: 5em;
	max-width: 50%;
}	
.namelogin{
	padding:1em;
	text-align: center;
	background-color: #3864ba;
	margin-bottom: 3em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

}
.namelogin span{
	font-size: 20px;
	color: #fff;
	/*padding: 0.4em 0.6em;*/
	/*border: 1px solid #3864ba;*/
}
.inputinfo{
	/*margin-top: 3em;*/
	max-width: 61%;
	margin: 0 auto;
}
.inputinfo label{
display: inline-block;
font-size: 18px;
color: #3864ba;
}
.log{
	box-shadow: 0 0 2px #3864ba;
	height: 2.5em;
	margin-top: 2em;
	padding: 0.4em;
	border-radius: 3px;
}
.log:active{
	box-shadow:0 0 2px #fff, 0 0 4px #3864ba,0 0 6px #3864ba; 
}
.inputinfo input{
	letter-spacing: 0.08em;
	display: inline-block;
	width: 80%;
	border: none;
	font-size: 14px;
	outline: none;
	height: 100%;
}
.log i{
	float: right;
	padding-left: 0.8em;
	padding-right: 0.5em;
	border-left: 2px solid #B4B4B4;
}

.postlogin{
	/*margin-top: 2em;*/
	max-width: 70%;
	margin:1.5em auto;
}
.postlogin button{
	width: 100%;
	border: none;
	color: #fff;
	outline: none;
	padding: 0.7em 0;
	border-radius: 28px;
	background-color: #3864ba;
	margin-top: 3em;
	box-shadow: 0 0 2px #3864ba;
}
.forgetpassw{
	transform: translateY(1.5em);
	/*float:left;*/
}
.forgetpassw span{
	padding: 1em 0.5em;
	/*font-size: 1em;*/
}
/*enter style*/
.tg-bannercontent1 .tg-btn1 {
 color: #3864BA;
 background:#fff;
}

.tg-btn1 {
    overflow: hidden;
    letter-spacing: 0.7px;
    color: #3864BA;
    overflow: hidden;
    padding: 8px 9px;
    position: relative;
    text-align: center;
    border-radius: 30px;
    /* display: inline-block; */
    vertical-align: middle;
    border: 1px solid #3864BA;
    text-transform: uppercase;
    font: 400 0.9em/23px 'Montserrat', Arial, Helvetica, sans-serif;
}

.tg-btn1:before {
 top: 0;
 left: 0;
 height: 100%;
 z-index: 1;
 content: '';
 /* width: 100%; */
 width: 0;
 position: absolute;
 border-radius: 30px;
}

*:before {
 -webkit-transition: all 300ms ease-in-out;
 -moz-transition: all 300ms ease-in-out;
 -ms-transition: all 300ms ease-in-out;
 -o-transition: all 300ms ease-in-out;
 transition: all 300ms ease-in-out;
}

.tg-bannercontent1 .tg-btn1:hover {
	color: #fff;
}
.tg-btn1 span{
	position: relative;
	z-index: 2;
}
.tg-btn1:hover {
 border-color: #3864BA;
}

.tg-btn1:hover:before {
 /* height: 100%; */
 width: 100%;
}

.tg-btn1:hover:before {
 background: #3864BA;

}
.left{
	float: left;
}
.left input{
	font-size: 1em;
}
/*end enter style*/
.textage{
	width: 100%;
	height: 100%;
	border:none;
	outline: none;
	color: #8B8B8B;
	font-size: 14px;
	letter-spacing: 0.08em;

}
.textage option{
	color: #A6A6A6;
	font-size:0.9em;
	margin-top: 0.5em;
}
/*endlogin*/

/*addtest*/
.addtema,.exam2{
	width: 93%;
	box-shadow: 0 0 2px #3864ba;
	height: 2.5em;
	margin: 2em 1em; 
	padding: 0.4em;
	font-weight: 700;
	border-radius: 3px;
}
.addtema input,.exam2 input{
	width:83%;
	border:none;
	height: 100%;
	outline: none;
}
.addtema:active,.exam2:active,.exam1:active{
	box-shadow:0 0 2px #fff, 0 0 4px #3864ba,0 0 6px #3864ba; 
}
.exam1{
	width: 93%;
	box-shadow: 0 0 2px #3864ba;
	height: 2.5em;
	margin: 2em 1em; 
	padding: 0.4em;
	border-radius: 3px;
}
.exam1 span{
	width: 70%;
	border:none;
	height: 100%;
	outline: none;
	font-weight: 700;	
}
.subjecttest{
	float: right;
	width: 80%;
	height: 100%;
	border:none;
	outline: none;
	font-weight: 700;
	/*padding:0.6em 0;*/
}

 .exam3 button{
	width: 100%;
	margin-top: 1em;
	margin-bottom: 2em;
	height: 100%;
	border:none;
	background-color: #3864ba;
	color: #fff;
	padding: 0.6em 0;
}
.exam3 button:hover{
	opacity:0.8;
}

/*end addtest*/
.formimg{
	padding-top: 1.3em;
	/*border:1px solid;*/
	/*overflow: hidden;*/
	padding-left: 0.5em;
}
.formimg p{
	color: #3864ba;
	font-style:italic;
}
.formimg input{
	background: #3864ba;
    color: #fff;
    opacity: 0.8;
}
/*menyu subject*/

/*endmenyu subject*/
/*user true answers*/
.trueanswers a{
	background: #fff;
	color: #3864ba;
	display: inline-block;
	padding:0.2em 0.5em;
	font-weight:400;
	/*margin-left: 0.7em;*/
	border-radius: 3px;
	text-decoration: none;
	/*transform: all 0.5s;*/
	box-shadow: 0 0 3px #FFF,0 0 1px #000;
}
.trueanswers a:hover{
	background: #3864ba;
	color: #fff;

}
.left_td {
	text-align:left ;
}
.right{
	float: right;
}
.count_messages{
	padding:0.2em;
	background-color:red;
	color: #fff;
	border-radius: 8px;
	font-size: 0.8em;
	letter-spacing: 0.1em; 
}
.tg-ko{
	background-color: red;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	padding:0.6em;
	border-radius: 7px;
	text-decoration:none;
}
.tg-dd{
	text-decoration:none;

	background-color: #3864ba;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	padding:0.6em;
	border-radius: 7px;
}
.tg-ok a:hover{
	box-shadow:0 0 4px #fff,0 0 4px #000,0 0 4px #fff, 0 0 8px #000;
	text-decoration:none;
	color: #fff;
}

.win{
	background-color: green;

	opacity: 0.7;
}
.notwin{
	background-color:red;

opacity: 0.7;
}
.eque{
	opacity: 0.7;
	background-color:#3864BA;

}
.win a,.notwin a,.eque a{
	color: #fff;
	font-weight: 530;
	
}
#inwidh{
	width: 60%;
}
/*end user true answers*/
/*end online olimpiada*/
/*end reting table*/

/*Groups*/

.schoolgroup{
/*background-color: #FFC7D2;*/
padding:0.5em 0.1em;
margin:2em 1em;
text-align: center;
border-radius: 4px;
font-style: italic;
}
.schoolgroup i{
	font-size: 4em;	
	color: #3468ba;
}
.schoolgroup:hover{
	transform: scale(1.03);
	box-shadow: 0px 0px 4px #fff,0px 0px 8px #000;
}
.whitecolor{
	background-color: #fff;
	padding: 0.2em;
}
.groupuser i{
	color: #3468ba;

}
/*Groups list*/
.viewtest{
color:#3468ba;
}
.gpmenyu{
	font-size: 12px!important;
}
.gpmenyu>i{
	font-size: 2.3em;
}